<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033680828169-gikouauipc4pp6edtt9u2g11m19qi5sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033680828169-gikouauipc4pp6edtt9u2g11m19qi5sb</string>
	<key>API_KEY</key>
	<string>AIzaSyDnVeUuP1bgGlfcRDRHy2Nd7DANq89_6fM</string>
	<key>GCM_SENDER_ID</key>
	<string>1033680828169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freeFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>mynotes-vandad-course</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-vandad-course.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033680828169:ios:a5bc81073ed96cd11885d8</string>
</dict>
</plist>